/* A13 */

/*

Identitas Kelompok A13

@usernamegithub - (nama lengkap)
@Noor-Adibi - (Noor Adibi Muhammad Thariq)
@santiam04 - (nama lengkap)
@kakatuahitam - Yuda Kurnia Nurul Fikri
@dudu756 - (nama lengkap)

 */

/* Animation: */
/* Media Query: */

:root {
  /* Color Pallete */
  --primary-color: #BFAF2E;
  --light-acc-color: #8A819A;
  --light-shd-color: #F4F7F6;
  --dark-acc-color: #AF3E50;
  --dark-shd-color: #292532;

  /* Tambahan warna untuk teks, atau lainnya */
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
}

/* Footer @ Noor-Adibi */
footer {

}